<div class="w-full p-4">

    <ng-container *ngIf="loading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-40 p-2 pt-6">
            <p class="text-2xl mb-4">សូមមេត្តារងចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>

    <div class="max-w-120 min-h-50 border rounded-lg flex flex-col justify-center items-center bg-blue-50 shadow-sm" *ngIf="!loading">
        <p class="text-3xl font-light">ការលក់សរុបថ្ងៃនេះ (រៀល)</p>
        <p class="text-5xl font-light text-green-500 mt-4">{{data | number}}</p>
    </div>
</div>