<div class="flex flex-col p-0">
    <div class="pr-4">
        <div class="w-40 m-auto pt-4">
            <img src="assets/images/logo/question.png" alt="question">
        </div>
    </div>
    <div class="pr-2">
        <h1 style="font-size: 20px;text-align: center;font-weight: 600;">បញ្ជាក់</h1>
    </div>
    <div class="pt-2 m-auto" style="font-size: .8rem; font-weight: 600;">
        តើអ្នកពិតជាចង់ធ្វើប្រតិបត្តការណ៏នេះមែនឫទេ?
    </div>
    <div class="w-full flex justify-between mt-3">
        <button class="rounded-md" mat-raised-button color="warn" (click)="close(false)">មិនព្រម</button>
        <button class="rounded-md" mat-raised-button color="accent" (click)="close(true)">យល់ព្រម</button>
    </div>

</div>
