<div class="container-listing-pos-section" scrollbar>
    <div class="container-listing-pos-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600 icon-size-4.5" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-4.5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ការបញ្ជារទិញ</span>
            </div>
        </div>
    </div>
    <div class="container-listing-pos-body p-2">
        <div class="container-listing-pos-content border rounded-lg">
            <div class="container-listing-pos-data bg-yellow-100">
                <div class="data-scrollbar-content">

                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                    <p>scroll only this content</p>
                </div>
            </div>
            <div class="container-listing-pos-paginator min-h-11 max-h-11 bg-red-200">
                paginator
            </div>
        </div>
    </div>
</div>
